@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; /* Changed to a single background color variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0; /* Ensuring dark mode has a single background color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Simplified background to a single color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}